.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: whitesmoke;
    transform-origin: 0%;
  }

  html {
    scroll-behavior: smooth;
    background-color: brown;
  }